<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing</title>
</head>
<body>
<form action='/analyze' method='get'>
<i><h3>Welcome to our Text Analyzer</h3></i>
<br>
<br>
<textarea name="text" style="margin: 0px; width: 721px; height: 93px;"></textarea>
<br><br>
<input type="checkbox" name="removepunc">Remove Punctuation<br><br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br><br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br><br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br><br>
<button type='submit'> Analyze Text</button>
</form>

</body>
</html>